<div class="note-form-wrapper">
  <mat-form-field appearance="outline" style="margin-bottom: 10px;">
    <mat-label>Your note title</mat-label>
    <input
      matInput
      [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Your note content</mat-label>
    <textarea
      matInput
      [(ngModel)]="content"></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="addNote(title, content)">
    Save
  </button>
  <mat-form-field appearance="outline">
    <mat-label>Search request field</mat-label>
    <input
      matInput
      [(ngModel)]="searchValue">
  </mat-form-field>
</div>

<div *ngIf="searchValue" class="note-items-wrapper">
  <div *ngFor="let note of notes | filter: searchValue">
    <app-note-item
      [title]="note.title | highlight: searchValue"
      [content]="note.content | highlight: searchValue"
      [tags]="note.hashTags"
      (removeNoteEvent)="removeNote($event)"
      (removeTagEvent)="removeTag($event)"
    >
    </app-note-item>
  </div>
</div>

<div *ngIf="notes.length > 0 && !searchValue" class="note-items-wrapper" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let note of notes">
    <app-note-item
      [title]="note.title"
      [content]="note.content"
      [tags]="note.hashTags"
      (removeNoteEvent)="removeNote($event)"
      (removeTagEvent)="removeTag($event)"
      cdkDrag>{{ notes }}
    >
    </app-note-item>
  </div>
</div>
