<mat-form-field appearance="outline" class="search-field">
  <mat-label>Search</mat-label>
  <input
    matInput
    [(ngModel)]="searchValue">
</mat-form-field>
<div class="form-notes-wrapper">
  <div class="form-wrapper">
    <mat-form-field appearance="outline" style="margin-bottom: 0;">
      <mat-label>Title</mat-label>
      <input
        matInput
        [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-bottom: 0;">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        [(ngModel)]="content"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      (click)="addNote(title, content)">
      Save
    </button>
  </div>

  <section *ngIf="searchValue && (notes | filter: searchValue).length === 0">
    <div class="no-matches-wrapper">
      <p>There is no any matches according to your search request</p>
      <img src="../../../assets/images/note-item/no-matches.png" alt="no-matches">
    </div>
  </section>

  <div *ngIf="searchValue && (notes | filter: searchValue).length !== 0" class="note-items-wrapper">
    <ng-container *ngFor="let note of notes | filter: searchValue; let i = index">
      <app-note-item
        [title]="note.title | highlight: searchValue"
        [content]="note.content | highlight: searchValue"
        [tags]="note.hashTags"
        [index]="i"
        (removeNoteEvent)="removeNote($event)"
        (removeTagEvent)="newNoteReplacer($event)"
        (editNoteEvent)="newNoteReplacer($event)"
      >
      </app-note-item>
    </ng-container>
  </div>

  <div *ngIf="notes.length > 0 && !searchValue" class="note-items-wrapper">
    <ng-container *ngFor="let note of notes; let i = index">
      <app-note-item
        [title]="note.title"
        [content]="note.content"
        [tags]="note.hashTags"
        [index]="i"
        (removeNoteEvent)="removeNote($event)"
        (removeTagEvent)="newNoteReplacer($event)"
        (editNoteEvent)="newNoteReplacer($event)"
      >
      </app-note-item>
    </ng-container>
  </div>
</div>
